:root {
    --font: 'Overpass Variable', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    --bg: #1a1a1a;
    --mbg: #2c2c2c;
    --lbg: #333333;
    --light-text: #eee;
    --medium-text: #aaa;
    --border: #555;
    --accent: #8254ff;
    --accent-hover: #8254ff44;
    --seperator: .075rem;
    --spacing: 1.5rem;
    --margin: .5rem;
    font-family: var(--font);
    border-collapse: collapse;
}

* {
    color: var(--light-text);
    font-weight: 200;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}

::selection {
    background-color: var(--accent-hover);
}

a {
    box-shadow: inset 0 -.075rem 0 0 var(--accent);
    font-weight: 200;
    text-decoration: none;
}
a:hover {
    box-shadow: inset 0 -.15rem 0 0 var(--accent);
}
a.major-link {
    color: var(--accent);
}

b {
    font-weight: 500;
}

code {
    background-color: var(--lbg);
    border-radius: .25rem;
    color: var(--light-text);
    font-family: 'Overpass Mono Variable';
    padding: 0 .2rem 0 .2rem;
    margin: 0 .1rem;
}

h1, .h1 {
    box-shadow: inset 0 -.075rem 0 0 var(--border);
    display: block;
    font-size: 2rem;
    font-weight: 350;
    letter-spacing: .05rem;
    margin: 4rem 0 1rem 0;
}

h2 {
    font-size: 1.6rem;
    font-weight: 350;
    margin: 3rem 0 var(--margin) 0;
}

h3 {
    font-size: 1.35rem;
    font-weight: 350;
    margin: 3rem 0 var(--margin) 0;
}

h4 {
    color: var(--medium-text);
    font-size: 1.2rem;
    font-weight: 350;
    margin: 2rem 0 var(--margin) 0;
    text-transform: uppercase;
}

hr {
    background-color: var(--border);
    border: none;
    height: var(--seperator);
    width: 80%;
}

img.center {
    border: none;
    border-radius: var(--margin);
    display: block;
    margin: var(--spacing) auto;
    max-width: 100%;
}

img.right {
    border: none;
    border-radius: var(--margin);
    display: block;
    float: right;
    margin: var(--spacing) 0 var(--spacing) var(--spacing);
}

img.left {
    border: none;
    border-radius: var(--margin);
    display: block;
    float: left;
    margin: var(--spacing) var(--spacing) var(--spacing) 0;
}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0 0 var(--spacing) 0;
}

pre {
    background-color: var(--mbg);
    border: var(--seperator) solid var(--border);
    border-radius: var(--margin);
    color: var(--light-text);
    font-family: 'Overpass Mono Variable';
    margin: 0 0 var(--spacing) 0;
    padding: var(--margin);
}

ul, ol {
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
    padding-left: .8rem;
}

ol li {
    list-style-type: decimal;
    line-height: 150%;
    margin-left: var(--spacing);
}
ol li::marker {
    font-weight: 300;
}

ul li {
    list-style-type: disc;
    line-height: 150%;
    margin-left: var(--spacing);
}

.heading {
    box-shadow: none;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: .1rem;
    margin: var(--margin) 0;
}

.medium-heading {
    box-shadow: none;
    font-size: 2.5rem;
    font-weight: 200;
    margin: var(--margin) 0;
}

.pane {
    background-color: var(--lbg);
    border-radius: var(--margin);
    margin: .75rem 0;
    padding: var(--margin);
}
.pane:hover {
    background-color: var(--mbg);
}

.pane-desc {
    margin: .75rem 0 0 0;
}

.pane-title {
    font-size: 1.2rem;
}
.pane-title:hover {
    box-shadow: inset 0 -.15rem 0 0 var(--accent);
}
